@page "/typeOperations"
@using BlazorUI.Components
@using Data.Services.Interfaces
@using ManagingSelfFinanceWebAPI.Models
@inject IService<TypeOperation> OperationsService


<h1>Types</h1>

<TypeOperationComponent Operations="operations" OnUpdateCallback="LoadDataAsync" />

@code {
    private IEnumerable<TypeOperation> operations = new List<TypeOperation>();

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        operations = await OperationsService.GetAllAsync();
    }
}