@using ManagingSelfFinanceWebAPI.Models
@using Data.Services.Interfaces

<EditForm Model="Operation">
    <div class="form-group row">
        <label for="Id" class="col-sm-4 col-form-label">Operation Id</label>
        <div class="col-sm-8">
            <InputNumber @bind-Value=Operation.Id class="form-control" id="Id" />
        </div>
    </div>
    <div class="form-group row">
        <label for="Name" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
            <InputText @bind-Value=Operation.Name class="form-control" id="Name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="Type" class="col-sm-4 col-form-label">Operation Type</label>
        <div class="col-sm-8">
            <InputNumber @bind-Value="Operation.TypeOperation" class="form-control" id="Type"></InputNumber>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public Operation Operation { get; set; } = new Operation();
}
